@use "@/app/commons";

.navbar {
  position: sticky;
  top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 0 4rem;

  .alien-home {
    font-size: 40px;
    text-decoration: none;
  }
  .routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    a {
      text-decoration: none;
      color: #141414;
      font-size: 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    a:hover {
      color: commons.$primary-color;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .toggle-drawer-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    .hamburger {
      width: 40px;
      height: 40px;
      color: commons.$primary-color;
    }
    @media (min-width: 767px) {
      display: none;
    }
  }
  .drawer-menu {
    position: absolute;
    left: 0;
    top: 80px;
    height: 100vh;
    width: 25vw;
    padding: 2rem;
    background-color: commons.$primary-color;
    transition: ease-in-out 5s;
    .routes {
      display: flex;
      flex-direction: column;
      align-items: start;
      a:hover {
        color: #ffffff;
      }
    }
    .close-drawer-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #ffffff;
      margin-right: auto;
      .close-icon {
        width: 30px;
        height: 30px;
      }
    }
    @media (min-width: 767px) {
      display: none;
    }
  }
}
