@use "@/app/commons";

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-family: "Courier New", Courier, monospace;

  @media (min-width: commons.$tablets-width) {
    padding: 4rem 0;
  }

  @media (min-width: commons.$laptops-width) {
    flex-direction: row;
    justify-content: space-around;
  }
  h1 {
    font-size: 48px;
    color: commons.$primary-color;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 24px;
  }

  .sign-up-btn {
    color: #ffffff;
    background-color: commons.$primary-color;
    border: none;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px 16px;
    margin-top: 2rem;
    cursor: pointer;
  }
}
