// colors
$primary-color: #8cc152;

// media queries screen breakpoints (max)
$extra-small-width: 500px;
$phones-width: 600px;
$tablets-width: 767px;
$laptops-width: 991px;
$large-devices-width: 1199px;
